version: "3.8"

services:
  app:
    build: ./docker/php
    container_name: echo_migrant_app
    volumes:
      - ./src/backend/laravel:/var/www/html
    ports:
      - "8000:80"
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: echo_migrant_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: echo_migrant
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: echo_migrant_phpmyadmin
    environment:
      PMA_HOST: db
    ports:
      - "8080:80"

  frontend:
    image: node:20
    working_dir: /app
    volumes:
      - ./src/frontend:/app
    command: sh -c "npm install && npm run dev -- --host"
    ports:
      - "5173:5173"
    stdin_open: true
    tty: true
volumes:
  db_data:
