[mysqld]
# Jeu de caractères par défaut
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Augmente la taille max des paquets (utile pour gros textes ou médias)
max_allowed_packet = 64M
